<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <!-- Buy Item -->
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" value="try"><br>
      <label for="userid">User ID:</label><br>
      <input type="text" id="userid" value="123"><br>
      <label for="price">Price:</label><br>
      <input type="number" id="price" value="200"><br><br>
      <button type="button" id="buyButton">Buy Item</button>
  </form><br><br>
  <!-- Get All User Buys -->
    <form>
      <label for="useridBuys">User ID:</label>
      <br>
      <input type="text" id="useridBuys">
      <br><br>
      <button type="button" id="getAllUserBuys">Get All User Buys</button>
  </form><br><br>
  <!-- Get All Users Buys -->
  <button type="button" id="getAllUsersBuys">Get All Users Buys</button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/webServer.js"></script>
  </body>
</html>
